:root {
    --chat-background: #344955;
    --secondary-color: #232f34;
}

#chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--chat-background);
    border-radius: 10px;
    width: 100%;
    height: 100vh;
}

.divInputs {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 60%;
    margin: 20px 0px;
    border-radius: 10px;
}

.chatMessageInput {
    margin-top: auto;
    padding: 10px;
    width: 90%;
    height: 7vh;
    background-color: var(--secondary-color); 
    color: white;
    text-decoration: None;
    border: 0;
    outline: 0;
    border-radius: 10px;
}

input:focus {outline:none!important;}

.chatSendButton{
    background-color: var(--secondary-color);
    width: 10%;
    height: 7vh;
}

.chatIconButton {
    color: white;
    width: 100%;
}

.chatInput {
    margin-bottom: 10px;
}

.chatContainerMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 20px 0px;
    background-color: var(--secondary-color);
    width: 60%;
    height: 500vh;
    border-radius: 10px;
    overflow-y: auto;
}

.chatDivMessage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    width: 90%;
}

.chatMessage {
    width: 90%;
    background-color: black;
    border-radius: 10px;
    opacity: 0.5;
    color: white;
}

.chatMessage p {
    margin: 10px;
}
