@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #35374B;
  --secondary-color: #344955;
  --tertiary-color: #50727B;
  --quaternary-color: #78A083;
  --font-color: #F7F7FF;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Estilizando todos os Scrollbars */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
  height: 10px; /* Altura da barra de rolagem para rolagem horizontal */
}

/* Thumb (parte que se move no scroll) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor do thumb */
  border-radius: 10px; /* Bordas arredondadas */
  border: 2px solid #555; /* Borda ao redor do thumb */
}

/* Track (fundo do scroll) */
::-webkit-scrollbar-track {
  background-color: inherit; /* Cor do fundo da barra */
}

/* Quando o usuário passa o mouse sobre o thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do thumb ao passar o mouse */
}
